<div class='container'>
  <h2>Players Status Game
    <span>{{ gameNum }}</span>
  </h2>
  <div>
    <h4>
      <a [routerLink]="['/status', 'game', '1']">Game 1</a> |
    </h4>
    <h4>
      <a [routerLink]="['/status', 'game', '2']">Game 2</a> |
    </h4>
    <h4>
      <a [routerLink]="['/status', 'game', '3']">Game 3</a>
    </h4>
  </div>
  <div class='container'>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let player of players'>
          <td>{{ player.name | titlecase }}</td>
          <td>
            <button [ngClass]="{'green': player.status.game1 === 'playing' && gameNum === '1',
              'green2': player.status.game2 === 'playing' && gameNum === '2',
              'green3': player.status.game3 === 'playing' && gameNum === '3'}" (click)="updateStatus(player, gameNum, 'playing') ">Playing</button>
            <button [ngClass]="{'red': player.status.game1 === 'not playing' && gameNum === '1',
              'red2': player.status.game2 === 'not playing' && gameNum === '2',
              'red3': player.status.game3 === 'not playing' && gameNum === '3'}" (click)=" updateStatus(player, gameNum, 'not playing') ">Not Playing</button>
            <button [ngClass]="{'yellow': player.status.game1 === 'undecided' && gameNum === '1',
              'yellow2': player.status.game2 === 'undecided' && gameNum === '2',
              'yellow3': player.status.game3 === 'undecided' && gameNum === '3'}" (click)=" updateStatus(player, gameNum, 'undecided') ">Undecided</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
