h4{
  display: inline-block;
}
h4:first-child{
  margin-left: 100px;
}

.players{
  margin-left: 100px;
  border: 1px solid black;
  border-radius: 3px;
  border-color: rgb(0, 61, 110);
  width: 80%;
  text-align: left;
  padding: 20px;
}
